<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head_common.html"}}
</head>

<body id="positions-equity-page">
    {{template "nav.html" .}}
    <h1>Positions &middot;  {{.Date}}</h1>
    {{template "positions_subnav.html" .}}
    {{ $nav := .Nav }}
    {{ $baseCurrency := .BaseCurrency }}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Type</th>
                <th class="ralign">Ccy</th>
                <th class="ralign">Mkt value</th>
                <th class="ralign tooltip">Buy price
                    <span class="tooltiptext">Purchase price including costs</span>
                </th>
                <th class="ralign tooltip">P&amp;L
                    <span class="tooltiptext">Profit & loss</span>
                </th>
                <th class="ralign tooltip">P&amp;L%
                    <span class="tooltiptext">Profit & loss (%)</span>
                </th>
                <th class="ralign tooltip">PL1Y
                    <span class="tooltiptext">Profit & loss (1 year)</span>
                </th>
                <th class="ralign tooltip">PL1Y%
                    <span class="tooltiptext">Profit & loss (1 year, %)</span>
                </th>
                <th class="ralign">Qty</th>
                <th class="ralign">Price</th>
                <th class="ralign">Price Date</th>
            </tr>
        </thead>
        <tbody>
            {{range .TableRows}}
            <tr>
                <td class="contextmenu entry-actions">
                    {{ .AssetName }}
                    <div class="contextmenu-options">
                        <div class="contextmenu-option" data-url='{{setp $nav.addEntry "AssetID" .AssetID}}'
                            data-action="add-entry">Add entry</div>
                        <div class="contextmenu-option" data-url='{{setp $nav.ledger "q" (concat "id:" .AssetID) }}'
                            data-action="show-ledger">Show ledger</div>
                    </div>
                </td>
                <td>{{ .AssetID }}</td>
                <td>{{ assetType .AssetType }}</td>
                <td class="ralign">{{ .Currency }}</td>
                <td class="ralign">{{ money .Value }}</td>
                <td class="ralign">{{if nonzero .PurchasePrice}}{{ money .PurchasePrice }}{{end}}</td>
                <td class="ralign">
                    <span class="{{if negative .ProfitLoss}}negative-amount{{end}}">{{ money .ProfitLoss }}</span>
                </td>
                <td class="ralign">
                    <span class="{{if negative .ProfitLossRatio}}negative-amount{{end}}">{{ percentAcc .ProfitLossRatio
                        }}</span>
                </td>
                <td class="ralign">
                    <span class="{{if negative .ProfitLoss1Y}}negative-amount{{end}}">{{ money .ProfitLoss1Y }}</span>
                </td>
                <td class="ralign">
                    <span class="{{if negative .ProfitLoss1YRatio}}negative-amount{{end}}">{{ percentAcc
                        .ProfitLoss1YRatio }}</span>
                </td>
                <td class="ralign">{{ quantity .Quantity }}</td>
                <td class="ralign">{{ price .Price }}</td>
                <td>{{ yyyymmdd .PriceDate }}</td>
            </tr>
            {{end}}
            <tr class="total">
                <td>Total</td>
                <td></td>
                <td></td>
                <td class="ralign">{{ $baseCurrency }}</td>
                <td class="ralign">{{ money .Totals.Value }}</td>
                <td class="ralign">{{ money .Totals.PurchasePrice }}</td>
                <td class="ralign">
                    <span class="{{if negative .Totals.ProfitLossRatio}}negative-amount{{end}}">{{ money
                        .Totals.ProfitLoss }}</span>
                </td>
                <td class="ralign">
                    <span class="{{if negative .Totals.ProfitLossRatio}}negative-amount{{end}}">{{ percentAcc
                        .Totals.ProfitLossRatio}}</span>
                </td>
                <td class="ralign">
                    <span class="{{if negative .Totals.ProfitLoss1Y}}negative-amount{{end}}">{{ money
                        .Totals.ProfitLoss1Y}}</span>
                </td>
                <td class="ralign tooltip">
                    <span class="{{if negative .Totals.ProfitLoss1YRatio}}negative-amount{{end}}">{{ percentAcc
                        .Totals.ProfitLoss1YRatio}}</span>
                    <span class="tooltiptext">Profit/loss (1 year) relative to 1Y basis price</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    {{ if .QuarterlyReport }}
    <h2>Quarterly Purchases</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Type</th>
                <th class="ralign">Ccy</th>
                {{ range .QuarterlyReport.Data }}
                <th class="ralign">{{ .Period.Label }}</th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ with $q := .QuarterlyReport }}
            {{ $data := .Data }}
            {{ range $assetIdx := .AssetsWithPurchases }}
            <tr>
                {{ with index $q.Assets . }}
                <td>{{ .Name }}</td>
                <td>{{ .ID }}</td>
                <td>{{ assetType .Type }}</td>
                <td class="ralign">{{ .Currency }}</td>
                {{ end }}
                {{ range $data }}
                <td class="ralign">
                    <span class="{{if negative (index .Purchases $assetIdx)}}negative-amount{{end}}">
                        {{ money (index .Purchases $assetIdx) }}
                    </span>
                </td>
                {{ end }}
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
    {{ end }}

    {{ if .QuarterlyReport }}
    <h2>Quarterly Profit & Loss</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Type</th>
                <th class="ralign">Ccy</th>
                {{ range .QuarterlyReport.Data }}
                <th colspan="2" class="zebra ralign">{{ .Period.Label }}</th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ with $q := .QuarterlyReport }}
            {{ $data := .Data }}
            {{ range $assetIdx, $asset := .Assets }}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .ID }}</td>
                <td>{{ assetType .Type }}</td>
                <td class="ralign">{{ .Currency }}</td>
                {{ range $data }}
                <td class=" ralign">
                    <span class="{{if negative (index .ProfitLoss $assetIdx)}}negative-amount{{end}}">
                        {{ money (index .ProfitLoss $assetIdx) }}
                    </span>
                </td>
                <td class="zebra ralign">
                    <span class="{{if negative (index .ProfitLossRatio $assetIdx)}}negative-amount{{end}}">
                        {{ percentAcc (index .ProfitLossRatio $assetIdx) }}
                    </span>
                </td>
                {{ end }}
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
    {{ end }}

    <!-- Doughnut chart for asset allocation -->
    <div id="equity-chart" class="chart-container hidden topsep" style="width: 600px;">
        <canvas id="equity-canvas"></canvas>
        <button type="button" class="close">&times;</button>
    </div>

    <p class="footer">
        Report date: {{.Date}} (generated {{.Now}})
    </p>
</body>

</html>