<table class="zebra">
    <thead>
        <tr>
            <th class="hidden action-column"></th>
            <th class="ralign">#</th>
            <th>Value Date</th>
            <th>Entry Type</th>
            <th>Asset ID</th>
            <th>Asset Name</th>
            <th>Asset Class</th>
            <th>Ccy</th>
            <th class="ralign">Value</th>
            <th class="ralign">Cost</th>
            <th class="ralign">Qty</th>
            <th class="ralign">Price</th>
            <th class="ralign tooltip">TVal<span class="tooltiptext">Total accumulated value</span></th>
            <th class="ralign tooltip">TQty<span class="tooltiptext">Total accumulated quantity</span></th>
            <th class="ralign tooltip">TCost<span class="tooltiptext">Total accumulated cost</span></th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {{range .TableRows}}
        <tr>
            <td class="hidden action-column">
                <button title="Delete entry" type="button" class="emoji-button delete" data-seq="{{.SequenceNum}}">
                    <i class="emoji emoji-wastebasket"></i>
                </button>
                <a title="Edit entry" href="/kontoo/entries/edit/{{.SequenceNum}}"><i class="emoji emoji-page-facing-up"></i></a>
            </td>
            <td class="ralign" title="Created: {{ ymdhm .Created }}">{{ .SequenceNum }}</td>
            <td class="nowrap">{{ .ValueDate }}</td>
            <td>{{ .EntryType }}</td>
            {{if .HasAsset}}
            <td>{{ .AssetID }}</td>
            <td>{{ .AssetName }}</td>
            <td>{{ assetType .AssetType }}</td>
            {{else}}
            <td></td>
            <td>{{ .Label }}</td>
            <td></td>
            {{end}}
            <td class="ralign">{{ .Currency }}</td>
            <td class="ralign">
                <span class="{{if negative .Value}}negative-amount{{end}}">{{if nonzero .Value}}{{ money .Value }}{{end}}</span>
            </td>
            <td class="ralign">{{if nonzero .Cost}}{{ money .Cost }}{{end}}</td>
            <td class="ralign">{{if nonzero .Quantity}}{{ quantity .Quantity }}{{end}}</td>
            <td class="ralign">{{if nonzero .Price}}{{ price .Price }}{{end}}</td>
            <td class="ralign">{{money .MarketValue }}</td>
            <td class="ralign">{{if nonzero .TotalQuantity}}{{ quantity .TotalQuantity }}{{end}}</td>
            <td class="ralign">{{if nonzero .TotalCost}}{{ money .TotalCost }}{{end}}</td>
            <td>{{ .Comment }}</td>
        </tr>
        {{end}}
    </tbody>
</table>

<p class="footer">
    Query examples: <code>order:newest</code>, <code>order:-assetname,valuedate max:10</code>,
    <code>num:10-40</code>, <code>date:2024-10</code>, <code>name~foo.*bar</code>
</p>
<p class="footer">
    Report generated {{.Now}}
</p>