<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head_common.html"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
    {{template "nav.html" .}}
    <h1>Add entry</h1>
    <div id="status-callout" class="callout hidden"></div>
    <form class="columnar" id="entry-form" method="post" action="/kontoo/entries">
        <div id="ValueDateField" class="field">
            <div class="field-label">
                <label for="ValueDate">Value date</label>
            </div>
            <div class="field-value">
                <input id="ValueDate" name="ValueDate" value="{{.Date}}" required>
            </div>
        </div>
        <div id="AssetIDField" class="field">
            <div class="field-label">
                <label for="AssetID">Asset</label>
            </div>
            <div class="field-value">
                <input id="AssetID" type="text" name="AssetID" list="AssetList" value="{{.AssetID}}">
                <datalist id="AssetList">
                    {{range .Assets}}
                    <option data-entry-types='{{join .Type.ValidEntryTypes " "}}' value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </datalist>
            </div>
            <div class="field-details" id="AssetName"></div>
        </div>
        <div id="TypeField" class="field">
            <div class="field-label">
                <label for="Type">Type</label>
            </div>
            <div class="field-value">
                <input id="Type" type="text" name="Type" list="TypeList" required>
                <datalist id="TypeList">
                    {{range .EntryTypes}}
                    <option value="{{.}}"></option>
                    {{end}}
                </datalist>
            </div>
        </div>
        <div id="QuoteCurrencyField" class="field hidden">
            {{if .QuoteCurrencies }}
            {{$baseCurrency := .BaseCurrency}}
            <div class="field-label">
                <label for="QuoteCurrency">Currency exchange rate</label>
            </div>
            <div class="field-value">
                <select id="QuoteCurrency" name="QuoteCurrency" type="text">
                    <option value=""></option>
                    {{range .QuoteCurrencies}}
                    <option value="{{.}}">{{$baseCurrency}}/{{.}}</option>
                    {{end}}
                </select>
            </div>
            {{end}}
        </div>
        <div id="ValueField" class="field">
            <div class="field-label">
                <label for="Value">Value</label>
            </div>
            <div class="field-value">
                <input id="Value" name="Value" type="text" pattern="[\+\-]?[0-9]+(\.[0-9]+)?">
            </div>
        </div>
        <div id="QuantityField" class="field">
            <div class="field-label">
                <label for="Quantity">Quantity / Nominal value</label>
            </div>
            <div class="field-value">
                <input id="Quantity" name="Quantity" type="text" pattern="[0-9]+(\.[0-9]+)?">
            </div>
        </div>
        <div id="PriceField" class="field">
            <div class="field-label">
                <label for="Price">Price</label>
            </div>
            <div class="field-value">
                <input id="Price" name="Price" type="text" pattern="[0-9]+(\.[0-9]+)?%?">
            </div>
        </div>
        <div id="CostField" class="field">
            <div class="field-label">
                <label for="Cost">Cost</label>
            </div>
            <div class="field-value">
                <input id="Cost" name="Cost" type="text" pattern="[0-9]+(\.[0-9]+)?">
            </div>
        </div>
        <div id="CommentField" class="field">
            <div class="field-label">
                <label for="Comment">Comment</label>
            </div>
            <div class="field-value">
                <textarea rows="3" id="Comment" name="Comment"></textarea>
            </div>
        </div>
        <div class="button-field">
            <input id="submit" type="submit" name="Submit" value="Save &amp; enter next">
        </div>
    </form>

    <script>
        flatpickr("#ValueDate", {});
        const entryForm = document.querySelector("#entry-form");
        entryForm.addEventListener("submit", async function (event) {
            event.preventDefault(); // Prevent the default form submission
            const formData = new FormData(this);
            const clickedButton = event.submitter;
            const entry = {}
            formData.forEach((value, key) => {
                if (value) {
                    entry[key] = value;
                }
            })
            try {
                const response = await fetch("/kontoo/entries", {
                    method: "POST",
                    body: JSON.stringify(entry),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();
                if (data.status === "OK") {
                    callout(`Added ledger entry with sequence number ${data.sequenceNum}.`);
                    this.reset();
                } else {
                    calloutStatus(data.status, data.error);
                }
            }
            catch (error) {
                console.error("Error on submit:", error);
            }
        });
        function assetIdChanged(assetId) {
            const assets = document.querySelectorAll("#AssetList option");
            let asset = null;
            for (const a of assets) {
                if (a.value === assetId) {
                    asset = a;
                    break;
                }
            }
            if (asset == null) {
                // Unknown asset: enable all types
                document.querySelectorAll("#TypeList option").forEach((opt) => {
                    opt.disabled = false
                });
                document.querySelector("#AssetName").textContent = "Unknown asset";
                return;
            }
            document.querySelector("#AssetName").textContent = asset.textContent;
            const entryTypes = asset.dataset.entryTypes.split(" ");
            document.querySelectorAll("#TypeList option").forEach((opt) => {
                opt.disabled = !entryTypes.includes(opt.value);
            });
        }
        document.querySelector("#AssetID").addEventListener("input", function (event) {
            assetIdChanged(event.target.value);
        });
        document.querySelector("#Type").addEventListener("keydown", function (event) {
            if (event.key === "Backspace") {
                event.target.value = "";
                event.preventDefault();
            }
        });
        document.querySelector("#Type").addEventListener("change", function (event) {
            const typ = event.target.value;
            if (typ === "ExchangeRate") {
                showFields(["QuoteCurrency", "Price"]);
            } else if (typ === "AccountBalance" || typ === "AccountDebit" || typ === "AccountCredit") {
                showFields(["AssetID", "Value"]);
            } else if (typ === "AssetHolding") {
                showFields(["AssetID", "Value", "Quantity", "Price"]);
            } else if (typ === "InterestPayment" || typ == "DividendPayment") {
                showFields(["AssetID", "Value"]);
            } else if (typ === "AssetPrice") {
                showFields(["AssetID", "Price"]);
            } else {
                showFields(["AssetID", "Value", "Quantity", "Price", "Cost"]);
            }
        });
        function showFields(fieldNames) {
            const allFieldNames = [
                "AssetID", "Value", "Quantity", "Price", "Cost", "QuoteCurrency"
            ];
            for (const fieldName of allFieldNames) {
                if (fieldNames.includes(fieldName)) {
                    document.querySelector(`#${fieldName}Field`).classList.remove("hidden");
                } else {
                    document.querySelector(`#${fieldName}Field`).classList.add("hidden");
                }
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            // Adjust UI to preselected AssetID:
            assetIdChanged(document.querySelector("#AssetID").value);
        });
    </script>
</body>

</html>