<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kontoo</title>
    <style>
        body {
            font-family: sans-serif;
        }

        th {
            text-align: left;
        }

        td,
        th {
            padding-right: 1ex;
        }

        .ralign {
            text-align: right;
        }

        .field-label {
            font-weight: bold;
            font-size: 90%;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .field-value {
            width: 16em;
            margin-bottom: 1ex;
        }

        .field-value input,
        .field-value textarea,
        .field-value select {
            width: 100%;
        }

        textarea {
            font-family: sans-serif;
        }

        .hidden {
            display: none;
        }

        #status-callout {
            padding: 1ex;
            margin: 1ex 0;
            border: 1px solid;
            border-radius: 5px;
        }
        .callout-err {
            border-color: brown;
            background-color: #ffe6e6;
        }
        .callout-ok {
            border-color: #008000;
            background-color: #e6ffe6;
        }
    </style>
</head>

<body>
    <h1>Kontoo</h1>
    <div id="status-callout" class="hidden"></div>
    <form id="entry-form" method="post" action="/kontoo/entries">
        <div class="field">
            <div class="field-label">
                <label for="ValueDate">Value date</label>
            </div>
            <div class="field-value">
                <input id="ValueDate" name="ValueDate" type="date" value="{{.CurrentDate}}" required>
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="Type">Type</label>
            </div>
            <div class="field-value">
                <input id="Type" type="text" name="Type" list="TypeList" placeholder="BuyTransaction">
                <datalist id="TypeList">
                    <option value="BuyTransaction">
                    <option value="SellTransaction">
                    <option value="AssetPrice">
                    <option value="AccountBalance">
                    <option value="AssetHolding">
                    <option value="DividendPayment">
                    <option value="InterestPayment">
                    <option value="AssetMaturity">
                    <option value="ExchangeRate">
                </datalist>
            </div>
        </div>
        <div id="AssetIDField" class="field">
            <div class="field-label">
                <label for="AssetID">Asset</label>
            </div>
            <div class="field-value">
                <input id="AssetID" type="text" name="AssetID" list="AssetList">
                <datalist id="AssetList">
                    {{range .Assets}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </datalist>
            </div>
        </div>
        <div id="AssetNameField" class="field">
            <div class="field-value" id="AssetName">&nbsp;</div>
        </div>
        <div id="QuoteCurrencyField" class="field hidden">
            {{if .QuoteCurrencies }}
            {{$baseCurrency := .BaseCurrency}}
            <div class="field-label">
                <label for="QuoteCurrency">Currency exchange rate</label>
            </div>
            <div class="field-value">
                <select id="QuoteCurrency" name="QuoteCurrency" type="text">
                    <option value=""></option>
                    {{range .QuoteCurrencies}}
                    <option value="{{.}}">{{$baseCurrency}}/{{.}}</option>
                    {{end}}
                </select>
            </div>
            {{end}}
        </div>
        <div id="ValueField" class="field">
            <div class="field-label">
                <label for="Value">Value</label>
            </div>
            <div class="field-value">
                <input id="Value" name="Value" type="text">
            </div>
        </div>
        <div id="QuantityField" class="field">
            <div class="field-label">
                <label for="Quantity">Quantity / Nominal value</label>
            </div>
            <div class="field-value">
                <input id="Quantity" name="Quantity" type="text" pattern="\d+(\.\d+)?">
            </div>
        </div>
        <div id="PriceField" class="field">
            <div class="field-label">
                <label for="Price">Price</label>
            </div>
            <div class="field-value">
                <input id="Price" name="Price" type="text" pattern="\d+(\.\d+)?%?">
            </div>
        </div>
        <div id="CostField" class="field">
            <div class="field-label">
                <label for="Cost">Cost</label>
            </div>
            <div class="field-value">
                <input id="Cost" name="Cost" type="text" pattern="\d+(\.\d+)?">
            </div>
        </div>
        <div id="CommentField" class="field">
            <div class="field-label">
                <label for="Comment">Comment</label>
            </div>
            <div class="field-value">
                <textarea rows="3" id="Comment" name="Comment"></textarea>
            </div>
        </div>
        <div>
            <input type="submit" name="Submit" value="Save">
            <input id="submit-next" type="submit" name="SubmitNext" value="Save &amp; enter next">
        </div>
    </form>

    <script>
        const entryForm = document.querySelector("#entry-form");
        entryForm.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent the default form submission
                document.getElementById('submit-next').click();
            }
        });
        entryForm.addEventListener("submit", async function (event) {
            event.preventDefault(); // Prevent the default form submission
            const formData = new FormData(this);
            const clickedButton = event.submitter;
            formData.append(clickedButton.name, clickedButton.value);
            if (!formData.get("Type")) {
                formData.set("Type", "BuyTransaction");
            }
            try {
                const response = await fetch("/kontoo/entries", {
                    method: "POST",
                    body: formData
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();
                const statusDiv = document.getElementById("status-callout");
                if (data.status !== "OK") {
                    statusDiv.textContent = data.error;
                    statusDiv.className = "callout-err";
                } else {
                    statusDiv.textContent = `Added ledger entry with sequence number ${data.sequenceNum}.`;
                    statusDiv.className = "callout-ok";
                    this.reset();
                }
                if (clickedButton.name === "Submit") {
                    window.location.href = "/kontoo/ledger";
                }
            }
            catch (error) {
                console.error("Error on submit:", error);
            }
        });
        document.querySelector("#AssetID").addEventListener("change", function (event) {
            const assetId = document.querySelector("#AssetID").value;
            setAssetName(assetId);
        });
        document.querySelector("#Type").addEventListener("keydown", function (event) {
            if (event.key === "Backspace") {
                event.target.value = "";
                event.preventDefault();
            }
        });
        document.querySelector("#Type").addEventListener("change", function (event) {
            const typ = event.target.value;
            if (typ === "ExchangeRate") {
                showFields(["QuoteCurrency", "Price"]);
            } else if (typ === "AccountBalance") {
                showFields(["AssetID", "AssetName", "Value"]);
            } else if (typ === "AssetHolding") {
                showFields(["AssetID", "AssetName", "Value", "Quantity", "Price"]);
            } else if (typ === "InterestPayment" || typ == "DividendPayment") {
                showFields(["AssetID", "AssetName", "Value"]);
            } else if (typ === "AssetPrice") {
                showFields(["AssetID", "AssetName", "Price"]);
            } else {
                showFields(["AssetID", "AssetName", "Value", "Quantity", "Price", "Cost"]);
            }
        });
        function showFields(fieldNames) {
            const allFieldNames = [
                "AssetID", "AssetName", "Value", "Quantity", "Price", "Cost", "QuoteCurrency"
            ];
            for (const fieldName of allFieldNames) {
                if (fieldNames.includes(fieldName)) {
                    document.querySelector(`#${fieldName}Field`).classList.remove("hidden");
                } else {
                    document.querySelector(`#${fieldName}Field`).classList.add("hidden");
                }
            }
        }
        function setAssetName(assetId) {
            const assets = document.querySelectorAll("#AssetList option");
            const assetName = document.querySelector("#AssetName");
            let name = "";
            for (const a of assets) {
                if (a.value === assetId) {
                    name = a.textContent;
                    break;
                }
            }
            assetName.textContent = name;
        }
    </script>
</body>

</html>