<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head_common.html"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
    {{template "nav.html"}}
    <h1>Add asset</h1>
    <div id="status-callout" class="callout hidden"></div>
    <form class="columnar" id="asset-form" method="post" action="/kontoo/assets">
        <div class="field">
            <div class="field-label">
                <label for="Type">Type</label>
            </div>
            <div class="field-value">
                <input id="Type" type="text" name="Type" list="TypeList">
                <datalist id="TypeList">
                    {{range .AssetTypes}}
                    <option value="{{.}}"></option>
                    {{end}}
                </datalist>
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="Currency">Currency</label>
            </div>
            <div class="field-value">
                <input id="Currency" name="Currency" type="text" pattern="[A-Z]{3}" required>
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="Name">Name</label>
            </div>
            <div class="field-value">
                <input id="Name" name="Name" type="text" required>
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="ShortName">Short name</label>
            </div>
            <div class="field-value">
                <input id="ShortName" name="ShortName" type="text">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="IssueDate">Issue date</label>
            </div>
            <div class="field-value">
                <input id="IssueDate" name="IssueDate">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="MaturityDate">Maturity date</label>
            </div>
            <div class="field-value">
                <input id="MaturityDate" name="MaturityDate">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="Interest">Interest</label>
            </div>
            <div class="field-value">
                <input id="Interest" name="Interest" type="text" pattern="\d+(\.\d+)?%?">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="IBAN">IBAN</label>
            </div>
            <div class="field-value">
                <input id="IBAN" name="IBAN" type="text">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="AccountNumber">Account number</label>
            </div>
            <div class="field-value">
                <input id="AccountNumber" name="AccountNumber" type="text">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="ISIN">ISIN</label>
            </div>
            <div class="field-value">
                <input id="ISIN" name="ISIN" type="text">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="WKN">WKN</label>
            </div>
            <div class="field-value">
                <input id="WKN" name="WKN" type="text">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="TickerSymbol">Ticker symbol</label>
            </div>
            <div class="field-value">
                <input id="TickerSymbol" name="TickerSymbol" type="text">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="YFSymbol">y!finance symbol</label>
            </div>
            <div class="field-value">
                <input id="YFSymbol" name="QuoteServiceSymbols" type="text">
            </div>
        </div>
        <div class="field">
            <div class="field-label">
                <label for="CustomID">Custom ID</label>
            </div>
            <div class="field-value">
                <input id="CustomID" name="CustomID" type="text">
            </div>
        </div>

        <div id="CommentField" class="field">
            <div class="field-label">
                <label for="Comment">Comment</label>
            </div>
            <div class="field-value">
                <textarea rows="3" id="Comment" name="Comment"></textarea>
            </div>
        </div>
        <div class="button-field">
            <input id="submit" type="submit" name="Submit" value="Save &amp; enter next">
        </div>
    </form>

    <script>
        flatpickr("#MaturityDate", {});
        flatpickr("#IssueDate", {});
        const entryForm = document.querySelector("#asset-form");
        entryForm.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent the default form submission
                document.getElementById('submit-next').click();
            }
        });
        entryForm.addEventListener("submit", async function (event) {
            event.preventDefault(); // Prevent the default form submission
            const formData = new FormData(this);
            const clickedButton = event.submitter;
            const asset = {};
            formData.forEach((value, key) => {
                if (!value) {
                    return;
                }
                if (key === "QuoteServiceSymbols") {
                    asset[key] = {
                        "YF": value
                    };
                } else {
                    asset[key] = value;
                }
            })
            try {
                const response = await fetch("/kontoo/assets", {
                    method: "POST",
                    body: JSON.stringify(asset),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();
                if (data.status === "OK") {
                    callout(`Successfully added asset ${data.assetId}.`);
                    this.reset();
                } else {
                    calloutStatus(data.status, data.error);
                }
            }
            catch (error) {
                console.error("Error on submit:", error);
            }
        });
        document.querySelector("#Type").addEventListener("keydown", function (event) {
            if (event.key === "Backspace") {
                event.target.value = "";
                event.preventDefault();
            }
        });
    </script>
</body>

</html>