<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kontoo</title>
{{if true}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
{{end}}
<link href="/kontoo/resources/style.css" rel="stylesheet">
<script src="/kontoo/dist/bundle.js" defer></script>
