<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head_common.html"}}
</head>

<body id="ledger-page">
    {{template "nav.html" .}}
    <h1>Ledger</h1>
    <div id="status-callout" class="callout hidden"></div>
    <!-- TODO: Fix this ugly layout -->
    <div class="minibar">
        <div class="minibar-group">
            <input id="filter" type="text" class="filter" value="{{.Query}}">
        </div>
        <div class="minibar-group">
            <button class="minibar" id="toggle-row-actions" type="button">Edit</button>
        </div>
        <div class="minibar-group">
            <button id="reload-ledger" type="button">Reload</button>
        </div>
    </div>
    <div id="ledger-table-div">
        {{template "snip_ledger_table.html" .}}
    </div>

</body>

</html>