<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head_common.html"}}
</head>

<body id="positions-maturing-page">
    {{template "nav.html" .}}
    <h1>Positions</h1>
    {{template "positions_subnav.html" .}}
    {{ $nav := .Nav }}
    {{ $baseCurrency := .BaseCurrency }}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Type</th>
                <th class="ralign">Ccy</th>
                <th class="ralign">Mkt value</th>
                <th class="ralign" title="Purchase price including costs">Buy price</th>
                <th class="ralign">Nom value</th>
                <th class="ralign">Interest</th>
                <th>Issue date</th>
                <th>Maturity date</th>
                <th class="ralign" title="Total earnings at maturity">TEM</th>
                <th class="ralign" title="Internal rate of return">IRR</th>
                <th class="ralign" title="Time to maturity (in years)">TTM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .TableRows}}
            <tr>
                <td class="contextmenu entry-actions">
                    {{ .AssetName }}
                    <div class="contextmenu-options">
                        <div class="contextmenu-option" data-url='{{setp $nav.addEntry "AssetID" .AssetID}}'
                            data-action="add-entry">Add entry</div>
                        <div class="contextmenu-option" data-url='{{setp $nav.ledger "q" (concat "id:" .AssetID) }}'
                            data-action="show-ledger">Show ledger</div>
                    </div>
                </td>
                <td>{{ .AssetID }}</td>
                <td>{{ assetType .AssetType }}</td>
                <td class="ralign">{{ .Currency }}</td>
                <td class="ralign">{{ money .Value }}</td>
                <td class="ralign">{{if nonzero .PurchasePrice}}{{ money .PurchasePrice }}{{end}}</td>
                <td class="ralign">{{if nonzero .NominalValue}}{{ money .NominalValue }}{{end}}</td>
                <td class="ralign">{{ percent .InterestRate }}</td>
                <td class="nowrap">{{ .IssueDate }}</td>
                <td class="nowrap">{{ .MaturityDate }}</td>
                <td class="ralign">{{ money .TotalEarningsAtMaturity }}</td>
                <td class="ralign">{{if nonzero .InternalRateOfReturn}}{{ percent .InternalRateOfReturn }}{{end}}</td>
                <td class="ralign {{if lt .YearsToMaturity 0.0}}negative-amount{{end}}">{{ printf "%.1f" .YearsToMaturity }}
                </td>
                <td class="tooltip">
                    {{if lt .YearsToMaturity 0.0}}
                    <i class="emoji emoji-warning"></i>
                    <span class="tooltiptext">This asset has matured. You should add an AssetMaturity entry.</span>
                    {{end}}
                </td>
            </tr>
            {{end}}
            <tr class="total">
                <td>Total</td>
                <td></td>
                <td></td>
                <td class="ralign">{{ $baseCurrency }}</td>
                <td class="ralign">{{ money .Totals.Value }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="ralign">{{ money .Totals.EarningsAtMaturity }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div id="maturities-chart" class="chart-container hidden topsep">
        <canvas id="maturities-canvas"></canvas>
        <button type="button" class="close">&times;</button>
    </div>
    <p class="footer">
        Report date: {{.Date}} (generated {{.Now}})
    </p>
</body>

</html>