<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head_common.html"}}
</head>

<body>
    {{template "nav.html" .}}
    <h1>Positions</h1>
    {{template "positions_subnav.html" .}}
    {{ $nav := .Nav }}
    {{ $baseCurrency := .BaseCurrency }}
    {{ $showSubtotals := gt (len .Groups) 1 }}
    <table id="positions-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Category</th>
                <th>Type</th>
                <th>Currency</th>
                <th>Market value</th>
                <th><!-- Warnings --></th>
            </tr>
        </thead>
        <tbody>
            {{range .Groups}}
            {{range .Rows}}
            <tr>
                <td class="contextmenu entry-actions">
                    {{ .Name }}
                    <div class="contextmenu-options">
                        <div class="contextmenu-option" data-url='{{setp $nav.addEntry "AssetID" .ID}}' data-action="add-entry">Add entry</div>
                        <div class="contextmenu-option" data-url='{{setp $nav.ledger "q" (concat "id:" .ID) }}' data-action="show-ledger">Show ledger</div>
                    </div>
                </td>
                <td>{{ .ID }}</td>
                <td>{{ assetCategory .Type }}</td>
                <td>{{ assetType .Type }}</td>
                <td class="ralign">{{ .Currency }}</td>
                <td class="ralign tooltip">
                    {{ money .Value }}
                    <span class="tooltiptext">{{range .Notes}}<p>{{.}}</p>{{end}}</span>
                </td>
                <td class="tooltip">{{if gt (days .DataAge) 35}}<i class="emoji emoji-warning"></i>{{end}}
                    <span class="tooltiptext">Data is {{days .DataAge}} days old.</span>
                </td>
            </tr>
            {{end}}
            {{if $showSubtotals}}
            <tr class="subtotal">
                <td>Subtotal</td>
                <td></td>
                <td>{{.Category}}</td>
                <td></td>
                <td class="ralign">{{ $baseCurrency }}</td>
                <td class="ralign">{{ money .ValueBaseCurrency }}</td>
            </tr>
            {{end}}
            {{end}}
            <tr class="total">
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="ralign">{{ $baseCurrency }}</td>
                <td class="ralign">{{ money .TotalValueBaseCurrency }}</td>
            </tr>
        </tbody>
    </table>
    <p class="footer">
        Report date: {{.Date}} (generated {{.Now}})
    </p>
    <script>
        registerDropdown("months-dropdown", (item) => {
            window.location.href = item.dataset.url;
        });
        registerDropdown("years-dropdown", (item) => {
            window.location.href = item.dataset.url;
        });
        document.querySelectorAll(".contextmenu.entry-actions").forEach((td) => {
            registerContextMenu(td, (item) => {
                window.location.href = item.dataset.url;
            });
        })
    </script>
</body>

</html>