<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head_common.html"}}
</head>
<body id="positions-maturing-page">
    {{template "nav.html" .}}
    <h1>Positions</h1>
    {{template "positions_subnav.html" .}}
    {{ $nav := .Nav }}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Type</th>
                <th class="ralign">Currency</th>
                <th class="ralign">Market value</th>
                <th class="ralign" title="Purchase price including costs">Purchase price</th>
                <th class="ralign">Nominal value</th>
                <th class="ralign">Interest</th>
                <th>Issue date</th>
                <th>Maturity date</th>
                <th class="ralign" title="Total earnings at maturity">TEM</th>
                <th class="ralign" title="Years to maturity">YTM</th>
            </tr>
        </thead>
        <tbody>
            {{range .TableRows}}
            <tr>
                <td class="contextmenu entry-actions">
                    {{ .Name }}
                    <div class="contextmenu-options">
                        <div class="contextmenu-option" data-url='{{setp $nav.addEntry "AssetID" .ID}}' data-action="add-entry">Add entry</div>
                        <div class="contextmenu-option" data-url='{{setp $nav.ledger "q" (concat "id:" .ID) }}' data-action="show-ledger">Show ledger</div>
                    </div>
                </td>
                <td>{{ .ID }}</td>
                <td>{{ assetType .Type }}</td>
                <td class="ralign">{{ .Currency }}</td>
                <td class="ralign">{{ money .Value }}</td>
                <td class="ralign">{{if nonzero .PurchasePrice}}{{ money .PurchasePrice }}{{end}}</td>
                <td class="ralign">{{if nonzero .NominalValue}}{{ money .NominalValue }}{{end}}</td>
                <td class="ralign">{{ percent .InterestRate }}</td>
                <td class="nowrap">{{ .IssueDate }}</td>
                <td class="nowrap">{{ .MaturityDate }}</td>
                <td class="ralign">{{ money .TotalEarningsAtMaturity }}</td>
                <td class="ralign {{if lt .YearsToMaturity 0.0}}warning{{end}}">{{ printf "%.1f" .YearsToMaturity }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>    
    <p class="footer">
        Report date: {{.Date}} (generated {{.Now}})
    </p>
</body>
</html>
