<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head_common.html"}}
</head>
<body>
    {{template "nav.html"}}
    <h1>Positions</h1>
    {{template "positions_subnav.html" .}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Category</th>
                <th>Type</th>
                <th>Currency</th>
                <th>Market value</th>
                <th>Purchase price</th>
                <th>Nominal value</th>
                <th>Interest rate</th>
                <th>Issue date</th>
                <th>Maturity date</th>
                <th>Years to maturity</th>
            </tr>
        </thead>
        <tbody>
            {{range .TableRows}}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .ID }}</td>
                <td>{{ assetCategory .Type }}</td>
                <td>{{ assetType .Type }}</td>
                <td class="ralign">{{ .Currency }}</td>
                <td class="ralign">{{ money .Value }}</td>
                <td class="ralign">{{ money .PurchasePrice }}</td>
                <td class="ralign">{{ money .NominalValue }}</td>
                <td class="ralign">{{ percent .InterestRate }}</td>
                <td class="nowrap">{{ .IssueDate }}</td>
                <td class="nowrap">{{ .MaturityDate }}</td>
                <td class="ralign {{if lt .YearsToMaturity 0.0}}warning{{end}}">{{ printf "%.1f" .YearsToMaturity }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>    
    <p class="footer">
        Report date: {{.Date}} (generated {{.Now}})
    </p>
</body>
</html>
