<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head_common.html"}}
</head>
<body>
    {{template "nav.html"}}
    <h1>Positions</h1>
    {{template "positions_subnav.html" .}}
    {{ $baseCurrency := .BaseCurrency }}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Category</th>
                <th>Type</th>
                <th>Currency</th>
                <th>Market value</th>
            </tr>
        </thead>
        <tbody>
            {{range .Groups}}
            {{range .Rows}}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .ID }}</td>
                <td>{{ assetCategory .Type }}</td>
                <td>{{ assetType .Type }}</td>
                <td class="ralign">{{ .Currency }}</td>
                <td class="ralign">{{ money .Value }}</td>
            </tr>
            {{end}}
            <tr class="subtotal">
                <td>Subtotal</td>
                <td></td>
                <td>{{.Label}}</td>
                <td></td>
                <td class="ralign">{{ $baseCurrency }}</td>
                <td class="ralign">{{ money .Value }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>    
    <p class="footer">
        Report date: {{.Date}} (generated {{.CurrentDate}})
    </p>
</body>
</html>
