<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head_common.html"}}
</head>

<body id="quotes-page">
    {{template "nav.html" .}}
    <div id="status-callout" class="callout hidden"></div>

    <h1>Stock quotes</h1>
    {{if .Entries }}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Code</th>
                <th>Name</th>
                <th>Ticker symbol</th>
                <th>Currency</th>
                <th>Closing price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{range .Entries}}
            <tr>
                <td><input data-asset="{{.AssetID}}" data-date="{{yyyymmdd .Date}}" data-price="{{micros .ClosingPrice}}"
                        class="selector" type="checkbox" name="quote" checked></td>
                <td>{{.AssetID}}</td>
                <td>{{.AssetName}}</td>
                <td><a href="https://finance.yahoo.com/quote/{{.Symbol}}" target="_blank">{{.Symbol}}</a></td>
                <td>{{.Currency}}</td>
                <td>{{money .ClosingPrice}}</td>
                <td>{{yyyymmdd .Date}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <div>
        No assets have a y!finance (YF) ticker symbol. Consider adding them to enable the online quote service.
    </div>
    {{end}}

    {{if .ExchangeRates }}
    <h1>Exchange rates</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Base currency</th>
                <th>Quote currency</th>
                <th>Closing price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{range .ExchangeRates}}
            <tr>
                <td><input data-quotecurrency="{{.QuoteCurrency}}" data-basecurrency="{{.BaseCurrency}}" data-date="{{yyyymmdd .Timestamp}}"
                        data-price="{{micros .ClosingPrice}}" class="selector" type="checkbox" name="exchangerate" checked>
                </td>
                <td>{{.BaseCurrency}}</td>
                <td>{{.QuoteCurrency}}</td>
                <td>{{price .ClosingPrice}}</td>
                <td>{{yyyymmdd .Timestamp}}</td>
            </tr>
            {{end}}
            <tr>
                <td><input type="checkbox" id="select-all" checked></td>
                <td colspan="4"><label for="select-all">Check/uncheck all</label></td>
            </tr>
        </tbody>
    </table>
    {{end}}
    <div class="topsep">
        <button class="click-button" type="button" id="submit">Import to ledger</button>
    </div>

</body>

</html>