{{if .Entries }}
<p>Rows with prices not yet stored in the ledger are preselected.</p>
<table id="results">
    <thead>
        <th></th>
        <th>Value date</th>
        <th>Code</th>
        <th>Name</th>
        <th>Currency</th>
        <th>Price</th>
        <th>Qty (CSV)</th>
        <th>Qty (Ledger)</th>
    </thead>
    <tbody>
        {{$checkAll := true}}
        {{range .Entries}}
        <tr>
            <td><input data-asset="{{.AssetID}}" data-date="{{yyyymmdd .ValueDate}}" data-price="{{micros .PriceMicros}}"
                    class="selector" type="checkbox" name="quote" {{if .Preselect}}checked{{end}}></td>
            <td>{{yyyymmdd .ValueDate}}</td>
            <td>{{.AssetID}}</td>
            <td>{{.AssetName}}</td>
            <td>{{.Currency}}</td>
            <td>{{price .PriceMicros}}</td>
            <td>{{quantity .QuantityImportMicros}}</td>
            <td class="tooltip">{{quantity .QuantityCurrentMicros}}
                {{if ne .QuantityImportMicros .QuantityCurrentMicros}}
                <i class="emoji emoji-warning"></i>
                <span class="tooltiptext">Quantities in CSV and ledger differ at this value date</span>
                {{end}}
            </td>
            {{$checkAll = and $checkAll .Preselect}}
        </tr>
        {{end}}
        <tr>
            <td><input type="checkbox" id="select-all" {{if $checkAll}}checked{{end}}></td>
            <td colspan="5"><label for="select-all">Check/uncheck all</label></td>
        </tr>
    </tbody>
</table>
<button id="submit">Submit price data</button>
{{end}}