<table>
    <thead>
        <tr>
            <th class="ralign">#</th>
            <th>Value Date</th>
            <th>Created</th>
            <th>Entry Type</th>
            <th>Asset ID</th>
            <th>Asset Name</th>
            <th>Asset Class</th>
            <th>Currency</th>
            <th>Value</th>
            <th>Cost</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {{range .TableRows}}
        <tr>
            <td class="ralign">{{ .SequenceNum }}</td>
            <td class="nowrap">{{ .ValueDate }}</td>
            <td class="nowrap">{{ ymdhm .Created }}</td>
            <td>{{ .EntryType }}</td>
            {{if .HasAsset}}
            <td>{{ .AssetID }}</td>
            <td>{{ .AssetName }}</td>
            <td>{{ .AssetType }}</td>
            {{else}}
            <td></td>
            <td>{{ .Label }}</td>
            <td></td>
            {{end}}
            <td class="ralign">{{ .Currency }}</td>
            <td class="ralign">{{if nonzero .Value}}{{ money .Value }}{{end}}</td>
            <td class="ralign">{{if nonzero .Cost}}{{ money .Cost }}{{end}}</td>
            <td class="ralign">{{if nonzero .Quantity}}{{ quantity .Quantity }}{{end}}</td>
            <td class="ralign">{{if nonzero .Price}}{{ price .Price }}{{end}}</td>
            <td>{{ .Comment }}</td>
        </tr>
        {{end}}
    </tbody>
</table>
<p class="footer">
    Report generated {{.Now}}
</p>