<table class="zebra">
    <thead>
        <tr>
            <th class="hidden action-column"></th>
            <th class="ralign">#</th>
            <th>Value Date</th>
            <th>Entry Type</th>
            <th>Asset ID</th>
            <th>Asset Name</th>
            <th>Asset Class</th>
            <th>Ccy</th>
            <th class="ralign">Value</th>
            <th class="ralign">Cost</th>
            <th class="ralign">Qty</th>
            <th class="ralign">Price</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {{range .TableRows}}
        <tr>
            <td class="hidden action-column">
                <button type="button" class="emoji-button delete" data-seq="{{.SequenceNum}}">
                    <i class="emoji emoji-wastebasket"></i>
                </button>
            </td>
            <td class="ralign" title="Created: {{ ymdhm .Created }}">{{ .SequenceNum }}</td>
            <td class="nowrap">{{ .ValueDate }}</td>
            <td>{{ .EntryType }}</td>
            {{if .HasAsset}}
            <td>{{ .AssetID }}</td>
            <td>{{ .AssetName }}</td>
            <td>{{ assetType .AssetType }}</td>
            {{else}}
            <td></td>
            <td>{{ .Label }}</td>
            <td></td>
            {{end}}
            <td class="ralign">{{ .Currency }}</td>
            <td class="ralign">{{if nonzero .Value}}{{ money .Value }}{{end}}</td>
            <td class="ralign">{{if nonzero .Cost}}{{ money .Cost }}{{end}}</td>
            <td class="ralign">{{if nonzero .Quantity}}{{ quantity .Quantity }}{{end}}</td>
            <td class="ralign">{{if nonzero .Price}}{{ price .Price }}{{end}}</td>
            <td>{{ .Comment }}</td>
        </tr>
        {{end}}
    </tbody>
</table>
<p class="footer">
    Report generated {{.Now}}
</p>