{{if .Entries }}
<table id="results">
    <thead>
        <th></th>
        <th>Value date</th>
        <th>Code</th>
        <th>Name</th>
        <th>Currency</th>
        <th>Price</th>
    </thead>
    <tbody>
        {{range .Entries}}
        <tr>
            <td><input data-asset="{{.AssetID}}" data-date="{{yyyymmdd .ValueDate}}" data-price="{{.PriceMicros}}"
                    class="selector" type="checkbox" name="quote" checked></td>
            <td>{{yyyymmdd .ValueDate}}</td>
            <td>{{.AssetID}}</td>
            <td>{{.AssetName}}</td>
            <td>{{.Currency}}</td>
            <td>{{price .PriceMicros}}</td>
        </tr>
        {{end}}
        <tr>
            <td><input type="checkbox" id="select-all" checked></td>
            <td colspan="5"><label for="select-all">Check/uncheck all</label></td>
        </tr>
    </tbody>
</table>
<button id="submit">Confirm and submit</button>
{{end}}