<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head_common.html"}}
</head>

<body>
    {{template "nav.html"}}
    <h1>Upload CSV</h1>
    <div id="upload-drop-area">Put your money on me!</div>
    <div>
        <ul id="filelist"></ul>
    </div>
    <div id="status-callout" class="callout hidden"></div>
    <div id="results-section" class="hidden"></div>
    <script>
        const dropArea = document.getElementById("upload-drop-area");

        // Prevent default drag behaviors
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false);
            document.body.addEventListener(eventName, preventDefaults, false);
        });

        // Highlight drop area when item is dragged over it
        ['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false);
        });

        ['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false);
        });

        // Handle dropped files
        dropArea.addEventListener('drop', handleDrop, false);

        async function uploadFiles(files) {
            const formData = new FormData();
            files.forEach(file => formData.append("file", file));
            try {
                const resp = await fetch("/kontoo/csv", {
                    method: "POST",
                    body: formData,
                });
                if (!resp.ok) {
                    const text = await resp.text();
                    console.error("Upload failed: ", resp.status, text);
                }
                const data = await resp.json();
                handleUploadReponse(data);
            }
            catch (error) {
                console.error("Error during upload:", error);
            }
        }

        function handleUploadReponse(data) {
            if (!data.innerHTML) {
                console.log("Upload response contained no innerHTML");
                return;
            }
            const div = document.getElementById("results-section");
            div.classList.remove("hidden");
            div.innerHTML = data.innerHTML;
            registerQuotesSubmit();
            if (data.status === "OK") {
                callout(`Successfully read ${data.numEntries} rows.`);
            } else {
                calloutStatus(data.status, data.error);
            }
        }

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        function highlight(e) {
            dropArea.classList.add('highlight');
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight');
        }

        function handleDrop(e) {
            const files = [...e.dataTransfer.files];
            uploadFiles(files);
        }

    </script>
</body>

</html>