<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kontoo</title>
    <link href="/kontoo/resources/style.css" rel="stylesheet">
</head>

<body>
    {{template "nav.html"}}
    <h1>Upload CSV</h1>
    <div id="upload-drop-area">Put your money on me!</div>
    <div>
        <ul id="filelist"></ul>
    </div>
    <div id="results-section" class="hidden"></div>
    <script>
        const dropArea = document.getElementById("upload-drop-area");

        // Prevent default drag behaviors
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false);
            document.body.addEventListener(eventName, preventDefaults, false);
        });

        // Highlight drop area when item is dragged over it
        ['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false);
        });

        ['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false);
        });

        // Handle dropped files
        dropArea.addEventListener('drop', handleDrop, false);

        async function uploadFiles(files) {
            const formData = new FormData();
            files.forEach(file => formData.append("file", file));
            try {
                const resp = await fetch("/kontoo/csv", {
                    method: "POST",
                    body: formData,
                });
                if (!resp.ok) {
                    const text = await resp.text();
                    console.error("Upload failed: ", resp.status, text);
                }
                const data = await resp.json();
                handleUploadReponse(data);
            }
            catch (error) {
                console.error("Error during upload:", error);
            }
        }

        function handleUploadReponse(data) {
            if (!data.innerHTML) {
                console.log("Upload response contained no innerHTML");
                return;
            }
            const div = document.getElementById("results-section");
            div.classList.remove("hidden");
            div.innerHTML = data.innerHTML;
            return;
        }

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        function highlight(e) {
            dropArea.classList.add('highlight');
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight');
        }

        function handleDrop(e) {
            const files = [...e.dataTransfer.files];
            uploadFiles(files);
        }

        async function confirm(confirmationId) {
            try {
                const data = new URLSearchParams();
                data.append("ConfirmationID", confirmationId);
                const resp = await fetch("/kontoo/csv/confirm", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: data.toString(),
                });
                if (!resp.ok) {
                    const text = await resp.text();
                    console.error("Confirmation failed: ", resp.status, text);
                }
            }
            catch (error) {
                console.error("Error during confirmation:", error);
            }
        }
    </script>
</body>

</html>